<div class="top">
    <div class="left">
        <h2>PSYMEDCONNECT</h2>
    </div>
    <div class="right" id="right">
        <a href="/"><b>HOME</b></a>
        <a href="/about"><b>ABOUT US</b></a>
        <a href="/contact"><b>CONTACT US</b></a>
        <a href="/submitDetails"><b>SUBMIT DETAILS</b></a>
    </div>
    <i class="fa-solid fa-bars" id="icon"></i>
</div>