<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs')  %>
    <link rel="stylesheet" href="/aboutPage/about.css">
</head>
<body>
    <div class="aboutContainer">
        <%-include('./partials/navBars.ejs')  %>

        <div class="body"></div>
    </div>
</body>
</html>