<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/homePage/home.css">
</head>
<body>
    <div class="homeContainer">
        <div class="top">
            <div class="left">
                <h2>PSYMEDCONNECT</h2>
            </div>
            <div class="right" id="right">
                <a href="">HOME</a>
                <a href="">ABOUT US</a>
                <a href="">CONTACT US</a>
                <a href="">SUBMIT DETAILS</a>
            </div>
            <i class="fa-solid fa-bars" id="icon"></i>
        </div>

        <div class="body">
            <div class="welcome-message">
                <h2>Welcome to <span>PsyMedConnect</span></h2>
                <br/>
                <p>
                    Your mental well-being is our priority. We provide compassionate, professional care to support 
                    your journey toward healing and growth. Explore our services and let us help you achieve a healthier mind and a brighter future.
                </p>
                <br/>
                <div class="buttons">
                    <a href="">ABOUT US</a>
                    <a href="">SUBMIT DETAILS</a>
                </div>
            </div>
        </div>
    </div>

    <script src="/homePage/homeJavascript.js"></script>
</body>
</html>