<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/homePage/home.css">
</head>
<body>
    <div class="homeContainer">

        <%-include('./partials/navBars.ejs')  %>

        <div class="body">
            <div class="welcome-message">
                <h2>Welcome to <span>PsyMedConnect</span></h2>
                <br/>
                <p>
                    Your mental well-being is our priority. We provide compassionate, professional care to support 
                    your journey toward healing and growth. Explore our services and let us help you achieve a healthier mind and a brighter future.
                </p>
                <br/>
                <div class="buttons">
                    <a href="/about">ABOUT US</a>
                    <a href="/submitDetails">SUBMIT DETAILS</a>
                </div>
            </div>
        </div>
    </div>

    <script src="/VanillaJavascript.js"></script>
</body>
</html>