<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs')  %>
    <link rel="stylesheet" href="submitDetailsPage/submitDetails.css">
</head>
<body>
    <div class="submitDetailsContainer">

        <%-include('./partials/navBars.ejs')  %>

        <div class="body">
            <form action="">
                <h4>SUBMIT DETAILS</h4>

                <label for="firstName"></label>
                <div class="inputField">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" placeholder="First Name">
                </div>

                <label for="lastName"></label>
                <div class="inputField">
                    <i class="fa-solid fa-user-tag"></i>
                    <input type="text" placeholder="Last Name">
                </div>

                <label for="phoneNumber"></label>
                <div class="inputField">
                    <i class="fa-solid fa-phone"></i>
                    <input type="text" placeholder="Phone Number">
                </div>

                <label for="emailAddress"></label>
                <div class="inputField">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="text" placeholder="Email Address">
                </div>

                <label for="regNo"></label>
                <div class="inputField">
                    <i class="fa-solid fa-id-card"></i>
                    <input type="text" placeholder="Registration Number">
                </div>

                <label for="faculty"></label>
                <div class="inputField">
                    <i class="fa-solid fa-building-columns"></i>
                    <input type="text" placeholder="Faculty">
                </div>

                <label for="course"></label>
                <div class="inputField">
                    <i class="fa-solid fa-graduation-cap"></i>
                    <input type="text" placeholder="Course">
                </div>

                <label for="year"></label>
                <div class="inputField">
                    <i class="fa-solid fa-calendar"></i>
                    <input type="text" placeholder="Year of Study">
                </div>

                <div class="button">
                    <button>SUBMIT</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/VanillaJavascript.js"></script>
</body>
</html>