<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs')  %>
    <link rel="stylesheet" href="submitDetailsPage/submitDetails.css">
</head>
<body>
    <div class="submitDetailsContainer">

        <%-include('./partials/navBars.ejs')  %>

        <div class="body">
            
        </div>
    </div>
</body>
</html>